<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TradeGuru.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TradeGuru.Properties.Settings>
            <setting name="SAVED_SEARCH_FILENAME" serializeAs="String">
                <value>../../../../Search.bin</value>
            </setting>
            <setting name="SAVED_HISTORY_FILENAME" serializeAs="String">
                <value>../../../../History.bin</value>
            </setting>
            <setting name="MINUTES_BETWEEN_REQUESTS" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SECONDS_BETWEEN_SEARCH_OBJECTS" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SECONDS_BETWEEN_PAGE_REQUESTS" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SAVE_ACTIVE_SEARCHES" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SAVE_ITEM_HISTORY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SAVE_DEBUG_LOG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SAVED_LOG_FILENAME" serializeAs="String">
                <value>../../../../Log.bin</value>
            </setting>
        </TradeGuru.Properties.Settings>
    </userSettings>
</configuration>